<center>
<br><img src="/img/logo1.png"/><br>&nbsp;<br>
<!-- Split button -->
<div class="btn-group">
  <button type="button" class="btn btn-default">주머니 상태</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">주머니 상태</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="/jumsim/nothing">상거지</a></li>
    <li><a href="/jumsim/poor">거지</a></li>
    <li><a href="/jumsim/normal">보통</a></li>
    <li><a href="/jumsim/rich">부자</a></li>
  </ul>
</div>
</center>
